nav#main-nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      ul.nav.navbar-nav
        p.navbar-text
          +loginButtons
    ul.nav.navbar-nav
      li
        a(href="/") Quotes
      li
        a(href="/tasks") Tasks
        
.container

  +sAlert
    
  +yield