nav#main-nav.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      button.navbar-toggle.collapsed(data-toggle="collapse" data-target="#menu")
        i.fa.fa-bars.fa-lg
      a.navbar-brand(href="/") Brand
    
    .collapse.navbar-collapse#menu  
      ul.nav.navbar-nav
        li
          a(href="/")
            i.fa.fa-fw.fa-file-o
      form.navbar-form.navbar-left(role="search")
        .form-group
          input.form-control(type="text" placeholder="Search")
      ul.nav.navbar-nav.pull-right
        li
          +loginButtons
          
+breadcrumbs
        
.container-fluid

  +sAlert
    
  +yield