head
  block title
    title Always Be Closing
  
body

  nav.navbar.navbar-default.navbar-fixed-top
    .container-fluid
      .navbar-header
        ul.nav.navbar-nav
          p.navbar-text
            +loginButtons
          
  .container
    +yield