.page-header
  h3
    .pull-right
      .btn-group
        a.btn.btn-default.create-line-item(href="#" title="Add Line Item")
          i.fa.fa-plus
        a.btn.btn-default(href="#" title="Delete")
          i.fa.fa-trash-o
    
    i.fa(class="#{icon}") 
    = name
    small configuration

.row
  .col-sm-12
    form.create-line-item
      select.form-control#create-line-item
        option(value disabled selected) add line item
        each offerings
          option(value=id)= name
br
.row
  .col-sm-12
    .panel-group#line-item-accordion
      .panel.panel-default
        .panel-heading
          h4.panel-title
            .badge= totalLineItems
            a(data-parent="#line-item-accordion" data-toggle="collapse" href="#collapse-line-items") Line Items
        .panel-collapse.collapse.in#collapse-line-items
          ul.list-group#line-items
            each lineItems
              +line_item