li.list-group-item.list-group-item-info
  h4.list-group-item-heading
    a(href="")
      i.fa(class=isPrimary)
    a(href="{{ pathFor 'option' }}")
      strong= name
      small option
    .pull-right
      .btn-group.btn-group-xs
        button.btn.btn-info
          i.fa.fa-plus
        button.btn.btn-info
          i.fa.fa-pencil
        button.btn.btn-info
          i.fa.fa-copy
        button.btn.btn-info
          i.fa.fa-trash-o
          
each configurations
  li.list-group-item
    h4.list-group-item-heading
      = name
      small configuration
    each line_items
      .btn-group.btn-group-xs(style="margin-bottom: 1px;margin-right: 3px")
        button.btn.disabled(class="btn-#{status}")= quantity
        button.btn(class="btn-#{status}")= name
    else
      p.list-group-item-text
        em No line items.
else
  li.list-group-item
    p.list-group-item-text
      em No configurations.