.page-header
  h3
    .pull-right
      .btn-group
        a.btn.btn-default(href="#" title="Lock")
          i.fa.fa-unlock
        a.btn.btn-default.create-option(href="#" title="Add Option")
          i.fa.fa-plus
        a.btn.btn-default(href="#" title="Delete")
          i.fa.fa-trash-o
    
    i.fa(class="#{icon}") 
    = name
    small quote
    
ul.list-group#options
  each options
    +option