title Tasks

if currentUser
  form.new-task
    .row
      .col-xs-12
        .input-group
          span.input-group-addon
            strong= incompleteCount
          input.form-control(type='text' name='text' placeholder='Type to add new tasks')
          span.input-group-addon
            .hide-completed.pull-right
              input(type='checkbox' checked="#{hideCompleted}")

br

ul.list-group
  each tasks
    +task