body { 
  padding-top: 70px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#main-nav {
  background: #4285f4;
  color: white;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
}
#main-nav a {
  color: white;
}
#main-nav.navbar-default {
  border: none;
}

span.icon-bar {
  background-color: white !important;
}

#login-dropdown-list {
  position: fixed;
  top: 25%;
  left: calc(50% - 125px);
}

#login-buttons {
  padding: 15px;
  line-height: 20px;
}

#login-name-link {
  text-decoration: none !important;
}

#login-buttons .login-close-text {
  color: #000;
}

#signup-link {
  color: #000 !important;
}

.page-header {
  margin-top: 0;
}

.navbar-form input {
  background: rgba(255,255,255,0.3);
  border: none;
  box-shadow: none;
  color: white;
}
.navbar-form input::-webkit-input-placeholder {
  color: white;
}

ol.breadcrumb {
  border-radius: 0;
  margin-bottom: 0;
}